<div class="krishnakumar-main-header">
	<div class="row-fluid search-bar-section1">
	  <div class="span2">
	  	<img src="img/googlelogo_color_272x92dp.png" alt="search bar krishna kumar" class="search-page-google-logo">
	  </div>

	  <div class="span6">
	  	<input type="text" class="search-bar small-margin-left"/>
	  </div>

	  <div class="span2 offset2">
	  	<div class="krishnakumar-page-header">
	  		<img src="img/box-icon-header.png" alt="krishnakumarvs title box" class="cursor-pointer small-margin-left">
	  		<img src="img/bell-icon.png" alt="krishnakumarvs title logo" class="cursor-pointer small-margin-left">
	  		<img src="https://s.gravatar.com/avatar/aad053325c27c60006cfde10c2d94abb?s=80" alt="krishnakumarvs title logo" class="krishnakumar-title-logo small-margin-left">
	  	</div>
	  </div>

	</div>

	<div class="row-fluid search-bar-section1">
	  <div class="span2">
	  </div>

	  <div class="span6">
	  		<div class="row-fluid">
	  			<div class="span1">All
	  			</div>
	  			<div class="span2">Images
	  			</div>
	  			<div class="span2">News
	  			</div>
	  			<div class="span2">Videos
	  			</div>
	  			<div class="span2">More
	  			</div>

	  			<div class="span3 align-right">Settings
	  			</div>
	  		</div>
	  </div>

	  <div class="span2 offset2">
	  </div>

	</div>

	<div class="row-fluid">
	  <div class="span2">
	  </div>

	  <div class="span6 no-of-results-found">
	  		About 8,21,00,000 results (1.06 seconds) 
	  </div>

	  <div class="span2 offset2">
	  </div>

	</div>


</div>