<div class="container">
	<div class="home-header">
		<a href="" class="header-images-link">Kmail
		</a>
		<a href="" class="header-images-link small-margin-left">Images
		</a>
		<img src="img/box-icon-header.png" alt="krishnakumarvs title box" class="cursor-pointer small-margin-left">
		<img src="img/bell-icon.png" alt="krishnakumarvs title logo" class="cursor-pointer small-margin-left">
		<img src="https://s.gravatar.com/avatar/aad053325c27c60006cfde10c2d94abb?s=80" alt="krishnakumarvs title logo" class="krishnakumar-title-logo small-margin-left">
	</div>
	<div class="center-div">
		<center>
			<img class="home-logo" src="img/googlelogo_color_272x92dp.png" alt="krishnakumarvs">
			<input type="text" class="search-bar" ng-model="Home.data.searchText">
		</center>
		<center>
			<input value="Google Search" type="submit" class="google-button">
			<input value="I'm Feeling Lucky" type="submit"  class="google-button">
		</center>


	</div>
</div>